@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.header-container {
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 15px 80px;
    background-color: #F7F7F7;
}

.nav-container {
    background-color: #E6E6E6;
    border-radius: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 10px;
    position: relative;
}

.nav-list {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.nav-item {
    color: #555;
    text-decoration: none;
    padding: 14px 24px;
    border-radius: 30px;
    transition: color 0.3s;
}

.nav-list-item-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-item:hover {
    color: #000;
}

.nav-item.active {
    color: #000;
    text-decoration: none;
    background-color: #fff;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2);
    z-index: 3;
}

.notif-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-radius: 30px;
    padding: 12px 12px 9px 12px;
    position: relative;
    cursor: pointer;
}

.notif-button {
    background-color: transparent;
    border-width: 0px;
    cursor: pointer;
}

.calendar-arrow {
    cursor:pointer;
}

.calendar-arrow:hover {
    opacity:0.9;
}

.calendar-arrow:active {
    opacity:0.8;
}


.notif-button.show::after {
    content: '';
    width: 7px;
    height: 7px;
    border-radius: 5px;
    background-color: red;
    z-index: 5;
    position: absolute;
    top: 12px;
    right: 16px;
}

.header-right-container {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.pfp-container {
    height: 50px;
    width: 50px;
    border-radius: 25px;
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor:pointer;
}

.pfp-text {
    color: #fff;
    font-size: 12px;
}

.page-title-container {
    padding: 50px 80px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    gap: 20px;
}

.page-title {
    font-size: 34px;
    font-weight: 500;
}

.page-subtitle {
    font-size: 30px;
    font-weight: 400;
    color: #555;
}

.dashboard-custom-report-button {
    cursor: pointer;
    transition: opacity 0.15s;
}

.dashboard-custom-report-button:hover {
    opacity: 0.8;
}

.dashboard-custom-report-button:active {
    opacity: 0.6;
}

.auc-container {
    background-color: #fff;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

.auc-sidebar {
    border-right-width: 1px;
    border-right-color: rgba(0, 0, 0, 0.2);
    border-right-style: inset;
    height: 100%;
    width: 30%;
    padding: 40px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.auc-sidebar-main-content {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.auc-sidebar-title-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0 40px 0 80px;
}

.auc-sidebar-title {
    font-size: 26px;
    font-weight: 500;
}

.auc-sidebar-list {
    list-style: none;
    display: flex;
    flex-direction: column;
}

.auc-sidebar-list-item {
    padding: 15px 40px 15px 80px;
    border-bottom-width: 1px;
    border-bottom-color: rgba(0, 0, 0, 0.2);
    border-bottom-style: inset;
    cursor: pointer;
}

.auc-side-bar-group-icon {
    cursor: pointer;
}

.auc-side-bar-group-icon:hover {
    opacity: 0.9;
}

.auc-side-bar-group-icon:active {
    opacity: 0.8;
}

.auc-sidebar-list-item.active {
    background-color: #e6e6e6;
    font-weight: 500;
    position: relative;
    cursor: pointer;
}

.capex-tracking-tool-card {
    margin-bottom: 20px;
}

.auc-sidebar-list-item.active::after {
    content: '';
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: red;
    position: absolute;
    top: 19px;
    left: 60px;
}

.auc-sidebar-button-container {
    padding-left: 80px;
    padding-right: 40px;
}

.auc-sidebar-button {
    width: 100%;
    cursor: pointer;
    transition: opacity 0.15s;
}

.auc-sidebar-button:hover {
    opacity: 0.8;
}

.auc-sidebar-button:active {
    opacity: 0.6;
}

.auc-page {
    width: 70%;
    overflow-y: scroll; 
}

.asset-screen-container {
    padding: 40px 80px;
}

.asset-screen-title-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.save-button {
    cursor: pointer;
}

.auc-save-button {
    cursor: pointer;
    transition: opacity 0.15s;
}

.auc-save-button:hover {
    opacity: 0.8;
}

.auc-save-button:active {
    opacity: 0.6;
}

.asset-screen-title {
    font-size: 26px;
    font-weight: 500;
}

.asset-screen-form-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    padding-top: 40px;
    gap: 80px;
}

.asset-screen-form-half-container {
    width: 50%;
}

.asset-screen-form-subtitle {
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 40px;
}

.asset-screen-input-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.asset-screen-input-label {
    font-size: 18px;
}

.asset-screen-input-field {
    padding: 12px 10px;
    border-radius: 8px;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.2);
    width: 100%;
}

.asset-screen-input-field:focus {
    border-color: #EB3131;
    box-shadow: 0px 0px 2px #EB3131;
    outline: none;
}

.asset-screen-input-field-prefixed {
    padding: 12px 10px;
    border-radius: 8px;
    border-width: 1px;
    border-color: rgba(0, 0, 0, 0.2);
    width: 100%;
    cursor: not-allowed;
}

.asset-screen-fields-container {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.reports-container {
    height: 100vh;
    width: 100%;
    background-color: #fff;
    display: flex;
    flex-direction: row;
}

.reports-content-container {
    width: 50%;
    height: 100%;
    padding: 40px 40px 40px 80px;
}

.reports-title-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
}

.reports-card-container {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    transition: opacity 0.15s;
}

.reports-card-container:active {
    opacity: 0.9;
}

.reports-pdf-container {
    width: 50%;
    overflow: scroll;
    background-color: #e6e6e6;
    padding: 40px 80px 40px 40px;
}

.reports-pdf-header {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
}

.reports-pdf-header-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
}

.reports-pdf-text {
    font-size: 18px;
}

.reports-pdf-title {
    font-weight: 500;
}

.reports-pdf-page-indicator-container {
    background-color: #CECECE;
    padding: 4px 12px;
    border-radius: 6px;
}

.report-card-container {
    width: 100%;
    height: 120px;
    background-color: #f7f7f7;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    padding: 15px;
    transition: background-color 0.5s;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.report-card-container:hover {
    background-color: rgba(255, 0, 0, 0.1);
}

.report-card-container.active {
    border-width: 1px;
    border-color: rgba(0, 0, 0, 0.2);
    border-style: solid;
}

.report-card-left {
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.report-card-right {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    gap: 20px;
}

.report-card-title {
    font-size: 17px;
    font-weight: 500;
}

.report-card-info {
    color: #555;
}

.report-card-username {
    color: #EB3131;
    font-weight: 500;
}

.report-card-title-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
}

.reports-preview-left-arrow {
    cursor: pointer;
}

.reports-preview-right-arrow {
    cursor: pointer;
}

.dashboard-container {
    background-color: #fff;
    height: 100vh;
    width: 100%;
    padding: 40px 80px;
}

.dashboard-header {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 40px;
}

.dashboard-header-title-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.dashboard-header-title {
    font-size: 28px;
    font-weight: 500;
}

.dashboard-header-desc {
    color: #555;
}

.dashboard-content-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 80px;
    padding: 0 0 40px 0;
}

.dashboard-content-half-container-left {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 50%;
}

.dashboard-content-half-container-right {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 50%;
}

.dashboard-content-half-container-left.business-services-organization {
    width: 65%;
}

.dashboard-content-half-container-right.business-services-organization {
    width: 35%;
}

.dashboard-calendar-container {
    width: 100%;
}

.dashboard-calendar-container.business-services-organization {
    width: 76.923%;
}

.calendar-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.calendar-header {
    display: flex;
    flex-direction: row;
    gap: 8px;
    justify-content: flex-start;
    align-items: center;
}

.calendar-title {
    font-size: 22px;
    font-weight: 500;
    margin-right: 20px;
}

.calendar {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 120px;
    border-radius: 8px;
    border: 1px solid rgba(0, 0, 0, 0.2);
}

.calendar-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 25px;
    width: 14.286%;
    border-right: 1px solid rgba(0, 0, 0, 0.2);
}

.calendar-item.active {
    background-color: #EB3131;
    box-shadow: 0px 0px 8px rgba(255, 0, 0, 0.6);
    border: 1px solid rgba(255, 255, 255, 0.5)
}

.calendar-item.disabled {
    background-color: #f7f7f7;
}

.calendar .calendar-item.disabled:last-child {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

.calendar-item.simple {
    transition: background-color 0.3s;
}

.monthly-overview-title {
    font-size: 24px;
    font-weight: 500;
}

.calendar-item.simple:hover {
    background-color: rgba(255, 0, 0, 0.1);
    cursor: pointer;
}

.calendar-item.active .calendar-item-day-letter,
.calendar-item.active .calendar-item-day-number {
    color: #fff;
}

.calendar-item-day-letter {
    color: #999;
}

.calendar .calendar-item:last-child {
    border-width: 0px;
}

.plant-files-title {
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 20px;
}

.plant-files-desc {
    color: #555;
    margin-bottom: 40px;
}

.plant-files-card-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    cursor: pointer;
    transition: opacity 0.15s;
}

.plant-files-card-container:active {
    opacity: 0.9;
}

.overview-card-container {
    height: 180px;
    width: 180px;
    background-color: #fff;
    border: 2px solid rgba(255, 0, 0, 0.4);
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: scale 0.3s;
}

.overview-card-container:hover {
    cursor: pointer;
    scale: 1.05;
}

.overview-main-container {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
}

.overview-number {
    font-size: 50px;
}

.monthly-overview-card-row {
    display: flex;
    flex-direction: row;
    gap: 40px;
}

.drafts-container {
    height: 100vh;
    width: 100%;
    background-color: #fff;
    padding: 0 80px;
}

.drafts-header {
    padding: 20px 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
}

.drafts-header-text {
    color: #444;
}

.drafts-header-left {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.drafts-header-right {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.custom-checkbox {
    position: relative;
    height: 25px;
    width: 25px;
    display: block;
    cursor: pointer;
}
  
.custom-checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transition: background-color 0.3s;
}

.custom-checkbox input:checked ~ .checkmark {
    background-color: #EB3131;
}

.checkmark:after {
    content: "";
    position: absolute;
    scale: 0;
    transition: scale 0.2s;
}

.custom-checkbox input:checked ~ .checkmark:after {
    display: block;
    scale: 1
}

.custom-checkbox .checkmark:after {
    left: 8px;
    top: 2px;
    width: 5px;
    height: 12px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}
  
.list-row-item {
    display: flex;
    flex-direction: row;
    padding: 20px 10px;
    align-items: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.list-row-item > .custom-checkbox {
    width: 5%;
}

.list-row-item-draft {
    width: 10%;
    font-weight: 500;
    font-size: 18px;
    color: #EB3131;
}

.list-row-item-title {
    width: 80%;
    padding-left: 150px;
    font-size: 18px;
}

.list-row-item-reason {
    color: #555;
    margin-left: 15px;
    font-size: 16px;
}

.list-row-item-time {
    width: 5%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.login-container {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    background-color: #fff;
}

.login-left-container {
    width: 50%;
    height: 100%;
    background-color: #fff;
    padding: 40px 80px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.login-right-container {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 105vw;
    transform: translateX(-5vw);
    background-color: #EB3131;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
    justify-content: center;
    display: flex;
    align-items: center;
    transition: transform 1s ease-in-out;
}

.login-right-container.animate {
    transform: translateX(50vw);
}

.login-form-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    display: flex;
    place-content: center;
}

.login-footer-container {
    display: flex;
    flex-direction: row;
    place-content: center;
}

.forgot-password-link {
    color: #EB3131;
    text-decoration: underline;
}

.login-check-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

.login-button {
    margin-top: 30px;
    cursor: pointer;
    transition: opacity 0.15s;
    width: 100%;
}

.login-button:hover {
    opacity: 0.9;
}

.login-button:active {
    opacity: 0.8;
}

.amis-intro {
    position: relative;
    transform: scaleX(0) scaleY(0);
    animation-name: intro-logo-anim;
    animation-duration: 2s;
}

@keyframes intro-logo-anim {
    0%   {transform: scaleX(0) scaleY(0);}
    20% {transform: scaleX(1.1) scaleY(1.1);}
    25% {transform: scaleX(1) scaleY(1);}
    75% {transform: scaleX(1) scaleY(1);}
    80% {transform: scaleX(1.1) scaleY(1.1);}
    100% {transform: scaleX(0) scaleY(0);}
  }

  .footer-buttons {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}

#group-icon {
    cursor: pointer;
}

#group-icon:active {
    opacity: 0.7;
}

.chart-container {
    width: 100%;
    height: 300px;
    background-color: #f7f7f7;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
    padding: 20px 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.chart-header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.chart-enlarge {
    cursor: pointer;
}

.chart-enlarge:active {
    opacity: 0.8;
}

.chart-content-container {
    display: flex;
    flex-direction: row;
}

.chart-bar {
    display: flex;
    flex-direction: column;
    width: 25%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.chart-bar-bg {
    position: relative;
    height: 160px;
    width: 40px;
    border-radius: 20px;
    background-color: #555;
}

.chart-bar-fill {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 160px;
    width: 40px;
    border-radius: 20px;
    background-color: #EB3131;
}

.chart-bar-fill-half {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 107px;
    width: 40px;
    border-radius: 20px;
    background-color: #EB3131;
}

.month-stack-card-container {
    background-color: #F7F7F7;
    border-radius: 6px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
    padding: 10px 20px;
}

.month-stack-card-abbr-container {
    width: 50px;
    height: 50px;
    background-color: #EB3131;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
}

.month-stack-card-abbr {
    font-weight: 500;
    color: #fff;
}

.month-stack-card-vbox {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.month-stack-card-title {
    font-weight: 500;
    font-size: 16px;
}

.month-stack-card-subtitle {
    font-weight: 500;
    font-size: 14px;
    color: #555;
}

.month-stack-container {
    width: 100%;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
    background-color: #F7F7F7;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px 40px;
}

.month-stack-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.month-stack-title {
    font-weight: 500;
    font-size: 24;
}

.month-stack-button {
    color: #EB3131;
    text-decoration: none;
    font-weight: 500;   
}

.month-stack-button > span {
    font-size: 24;
}

.month-stack-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.month-stack-content-hbox {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.app-header {
    height: 100px;
}

.approvals-row-container {
    display: flex;
    flex-direction: row;
    padding: 20px 0 20px 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s;
}

.approvals-row-container:hover {
    background-color: rgba(255, 0, 0, 0.1);
}

.approvals-row-lhs {
    width: 20%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.approvals-circle {
    background-color: #000;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.approvals-row-abbr {
    color: #fff;
    font-size: 14px;
}

.approvals-row-lhs-vbox {
    display: flex;
    flex-direction: column;
}

.approvals-role-title {
    font-weight: 500;
}

.approvals-role-plant {
    color: #555;
    font-size: 14px;
}

.approvals-row-title {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 17px;
    font-weight: 500;
}

.approvals-row-time {
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.approvals-row-button-container {
    width: 5%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.notifications-container {
    padding: 40px 80px;
    background-color: #fff;
}

.notif-row-container {
    padding: 20px;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    gap: 40px;
}

.notif-row-header {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.notif-check {
    width: 5%;
}

.notif-user-container {
    width: 10%;
}

.notif-user {
    background-color: rgba(255, 0, 0, 0.1);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50px;
    padding: 6px 10px;
}

.notif-title {
    font-weight: 500;
    font-size: 17px;
    width: 75%;
    padding-left: 40px;
}

.notif-details-button {
    width: 10%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
    cursor: pointer;
}

.notif-details-button:active {
    opacity: 0.7;
}

.notif-details-arrow {
    transform: rotate(270deg);
    transition: transform 0.2s;
}

.notif-details-arrow.exp {
    transform: rotate(90deg);
}

.notifications-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
}

.notifications-perm-container {
    padding: 12px 28px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.1);
    border-radius: 14px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 40px;
}

.notifications-perm-text-container {
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.notifications-perm-title {
    font-weight: 500;
    font-size: 16px;
}

.notifications-perm-p {
    font-size: 14px;
}

.notifications-title {
    font-weight: 500;
}

.notifications-actions {
    margin-top: 20px;
    padding: 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}

.notifications-actions > .chip-container:first-of-type {
    margin-left: 30px;
}

.chip-container {
    padding: 6px 18px;
    display: flex;
    flex-direction: row;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    gap: 6px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.3s;
}

.chip-container:hover {
    background-color: rgba(255, 0, 0, 0.1);
}

.asset-approval-container {
    background-color: #fff;
    padding: 40px 80px;
}

.asset-approval-header {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    margin-bottom: 40px;
}

.asset-approval-header-text {
    font-weight: 500;
    font-size: 17px;
    margin-right: 10px;
}

.asset-approval-content {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.asset-approval-row-arrow {
    filter: invert(34%) sepia(4%) saturate(18%) hue-rotate(66deg) brightness(94%) contrast(92%);
    transform: rotate(270deg);
    transition: transform 0.3s;
}

.asset-approval-row-arrow.exp {
    transform: rotate(90deg);
}

.asset-approval-details-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    margin-top: 20px;
}

.asset-approval-details-container {
    margin-top: 20px;
    padding: 40px 20px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.asset-approval-comment-container {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.approvals-header-text {
    font-size: 18px;
    font-weight: 500;
}